.imagenDeMenu{
width: 80px;
height: 70px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #100000;
    }

   .fondo
   {
    background-color:lightblue;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    -webkit-background-size : cover;
    -moz-background-size : cover;
    -moz-background-size : cover;
    background-size: cover;
    margin:0;
    padding:1px;
   }