<div class="fondo">
<div class="container" >
    <div class="card">
        <h1>Velocidad y agilidad aritmética </h1>
      <img class="img-thumbnail"   src="/TP_LAV4_2017/assets/imagenes/cerebro1.jpg" alt="Avatar" style="width:100%">
      
      <p class="title">Juego de agilidad mental</p>
      
  
   
      <p>           <button class="button" style="background-image:url('/TP_LAV4_2017/assets/imagenes/lasestrellas.jpg')"  (click)="Juego('Agilidad')">Jugar</button></p>
    
    </div>
  
    <div class="card">
        <h1>Piedra Papel o Tijera</h1>
      <img class="img-thumbnail" src="/TP_LAV4_2017/assets/imagenes/piedra.jpg" alt="Avatar" style="width:100%">
     
      <p class="title">Juega contra la máquina</p>
     
      
  
      <p>           <button class="button"  (click)="Juego('PPT')" style="background-image:url('/TP_LAV4_2017/assets/imagenes/lasestrellas.jpg')">Jugar</button></p>
    </div>
    <div class="card">
        <h1>Adivina el número secreto</h1>
      <img  class="img-thumbnail"  src="/TP_LAV4_2017/assets/imagenes/adivina1.png" alt="Avatar" style="width:100%">
      
      <p class="title">Juega de estrategia</p>
      
      <p>           <button class="button" style="background-image:url('/TP_LAV4_2017/assets/imagenes/lasestrellas.jpg')"  (click)="Juego('Adivina')" >Jugar</button></p>
    </div>
    <div class="card">
        <h1>Anagrama</h1>
        <br>
        <br>
        <br>
        <br>
      <img  class="img-thumbnail"  src="/TP_LAV4_2017/assets/imagenes/ANAGRAMA.jpg" alt="Avatar" style="width:100%">
      
      <p class="title">Arma la palabra</p>
      
  
    
      
     
      
      
      <p>           <button class="button" style="background-image:url('/TP_LAV4_2017/assets/imagenes/lasestrellas.jpg')" (click)="Juego('Anagrama')">Jugar</button></p>
    </div>
    <div class="card">
        <h1>Completa la frase</h1>
        <br>
        <br>
     
        <img  class="img-thumbnail"  src="/TP_LAV4_2017/assets/imagenes/cancion.jpg" alt="Avatar" style="width:100%">
      
        <p class="title">Juego de canciones</p>
        
       
      
        <p>           <button class="button" style="background-image:url('/TP_LAV4_2017/assets/imagenes/lasestrellas.jpg')" (click)="Juego('frase')">Jugar</button></p>
      </div>

  </div>
  <br>

</div>