.fondo
{
    height:100%;
    background-color:lightblue;
   
    font-family: 'Kalam', cursive;
}

form {
    border: 10px solid lightpink;
    padding: 10px;
    background:  grey;
    margin-top:2cm;
}

input[type=text], input[type=password] {
    width: 15%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid lightgreen;
    outline: 0;
    font-style: italic;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: lightpink;
    outline: 0;
}

button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
   
    cursor: pointer;
    width: 100%;
    border-color:white;
    border-width: 2px;
    border-style: solid;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
.aceptbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #3664F4;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}



#snackbar {
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;

    border-width: 4px;
    border-style: solid;



    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
   
    color: #fff;
    text-align: center;
   
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 22px;
}
#snackbar.Ganador {
    background-color: #059F2F;
   height: 1.5cm;
    top: 400px;
    border-color:#013401;
    font-size: 25px;
}
#snackbar.Perdedor {
    background-color: #FF0000;
    height: 1.5cm;
    top: 400px;
    font-size: 25px;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}